*{
  margin:0 ;
  padding:0 ;
  text-align: center;
   color: black; 
}

h1{
  font-size: 3rem;
  display: flex;
  background-color: red;
  padding: 10px;
  margin: 10px;
  border: 5px solid green;
} 
@media (min-width:500px){
    h1 {
      font-size: 8rem;
      background-color: blueviolet;
    }
  }

 /*imagenes gif*/ 
  .contenedor-imagen {
    display: flex;
    gap: 10px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    max-width: 100%; /* La imagen no se desbordará del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
}

body {
    background-color: black;
}
@media (min-width:600px){
  body{
    background-color: rgb(47, 47, 70);
  }
}

span{
    color: greenyellow;
  background-color: aliceblue;
}
/*AUDIO*/
audio {
  margin-top: 20px;
}

.verMas{
  background-color: aqua;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
footer{
  background-color: aliceblue;
}
/*personajes uno al lado del otro */
#cajaDePersonajes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres elementos por fila */
  grid-gap: 20px; /* Espacio entre los elementos */
}

#cajaDePersonajes .personaje {
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
}



/*cajas*/
/*.container {
  flex-direction: row;
}
.btn {
  display: flex;
  gap: 10px;
  
}*/
/*Botones(encontre este diseño en uiverse)*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*justify-content: space-around;*/
    width: 1000px;
  }
  
  .container .btn {
    height: 50px;
    margin: 20px;
    margin-bottom: 40px;
    position: relative;
    width: 155px;
  }
  
  .container .btn a {
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: 0.5s;
  }
  
  .container .btn:hover a {
    letter-spacing: 2px;
  }
  
  .container .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,
                  rgba(255,255,255,0.15),
                  transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
  }
  
  .container .btn:hover a::before {
    transform: skewX(45deg) translateX(200%);
  }
  
  .container .btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 10px;
    width: 30px;
    background: rgb(63, 238, 10);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  
  .container .btn:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
  
  .container .btn::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    height: 10px;
    width: 30px;
    background: rgb(7, 245, 59);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  
  .container .btn:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
  
  .container .btn:nth-child(1):before,
  .container .btn:nth-child(1)::after {
    background: #0cf318;
    box-shadow: 0 0 5px #0ffb2e,
      0 0 15px #2bff59,
      0 0 30px #32ff2b,
      0 0 60px #22ff47;
  }
  
  .container .btn:active a {
    color: #000;
  }
  